services:
  - type: web
    name: spotch-backend
    runtime: docker
    rootDir: backend
    region: singapore
    plan: free
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: PORT
        value: 4000
